html {
  position: relative;
  min-height: 100%;
}

body{
  font-family: "Helvetica";
  background: #f4f4f7;
  color: #444;
  margin-bottom: 60px;
}

body > .container {
  padding: 60px 15px 0;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 99.99%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.container .text-muted {
  margin: 20px 0;
}

.centered {
  text-align: center
}

h1.intro {
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3.intro {
  font-weight: 300;
}